
@font-face {
    font-family: inter;
    src: url(../assets/fonts/inter.woff);
  }
  body 
  {
    font-family: inter;
  }
.main-wrapper{
    height:100vh;
    background:#fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.sidebar 
{
    background:#fff;
    height:100%;
    max-width:300px;
    border-right: 1px solid rgba(85,82,124,.1);
}
.user-profile
{
    text-align: center;
}
.user-profile h4 
{
    font-weight:700;
    font-size:20px;
}